@-webkit-keyframes bgcolor {
  0% {
    background-color: #ffccf2; }
  50% {
    background-color: #ccffcc; }
  100% {
    background-color: #ccffff; } }
@-moz-keyframes bgcolor {
  0% {
    background-color: #ffccf2; }
  50% {
    background-color: #ccffcc; }
  100% {
    background-color: #ccffff; } }
@-ms-keyframes bgcolor {
  0% {
    background-color: #ffccf2; }
  50% {
    background-color: #ccffcc; }
  100% {
    background-color: #ccffff; } }
@keyframes bgcolor {
  0% {
    background-color: #ffccf2; }
  50% {
    background-color: #ccffcc; }
  100% {
    background-color: #ccffff; } }
body, html {
  background: #00b3b3;
  margin: 0;
  padding: 0; }

.bgOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url(../assets/images/white_tiles_@2X.png) repeat;
  opacity: 0.3;
  filter: alpha(opacity=30); }

.hide {
  display: none !important; }

a {
  font-weight: bold;
  color: #f38c4b; }

.noPadding {
  padding: 0 !important; }

.noMargin {
  margin: 0 !important; }

.noSpace {
  padding: 0 !important;
  margin: 0 !important; }

.center-text {
  text-align: center !important; }

#container {
  width: 70%;
  margin-left: 15%;
  background: #111;
  padding: 20px; }
  #container h1, #container p, #container h2 {
    color: #fd5ca8; }

blockquote {
  color: #ffffff;
  border: none; }

h1 {
  font-weight: bold; }

.lead {
  font-weight: bold;
  color: #99a3a8; }

button {
  background: #004d4d; }
  button:hover, button:focus {
    background: #003334; }

input[type="file"] {
  border: none !important; }

button.btn.dark {
  background: #363c3f !important;
  display: block;
  float: none;
  width: 100%;
  color: #f38c4b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  button.btn.dark a {
    color: #ffffff;
    text-align: left; }

.btn.button {
  background: #363c3f;
  outline: none;
  border: none; }
  .btn.button a {
    color: #ffffff;
    padding: 0;
    margin: 0;
    text-decoration: none;
    width: 100%; }
  .btn.button:hover, .btn.button:focus {
    background: #2a2f31 !important;
    outline: none;
    border: none; }

#navigation-header {
  background: #363c3f;
  position: fixed;
  z-index: 200;
  width: 100%;
  margin: 0;
  top: 0; }
  #navigation-header .removePadding {
    padding: 0 5px; }
  #navigation-header .logo {
    float: left;
    padding-right: 10px; }
    #navigation-header .logo a h1 {
      font-size: 4em;
      float: left;
      color: #ffffff; }
      #navigation-header .logo a h1 span {
        color: #00b3b3; }
    #navigation-header .logo p {
      float: left;
      color: #ffffff;
      margin-top: 20px;
      margin-left: 5px; }
  #navigation-header div.page-title {
    float: left; }
    #navigation-header div.page-title p {
      color: #ffffff !important;
      text-align: left;
      margin-top: 8px;
      margin-bottom: 0;
      padding: 0; }
  #navigation-header .menu-toggle {
    float: right; }
    #navigation-header .menu-toggle span.username {
      float: left;
      color: #ffffff;
      font-size: 0.8em;
      margin-right: 15px; }
    #navigation-header .menu-toggle a {
      display: block;
      float: left;
      padding: 0;
      text-decoration: none;
      color: #00b3b3;
      font-size: 0.6em; }

#bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  z-index: 100; }
  #bottom-nav .columns {
    padding: 0;
    margin: 0;
    border-right: 2px solid #3f464a;
    border-left: 2px solid #2e3336; }
    #bottom-nav .columns:first-child {
      border-left: none; }
    #bottom-nav .columns:last-child {
      border-right: none; }
  #bottom-nav .signin, #bottom-nav .create-account {
    background: #363c3f;
    overflow: hidden; }
  #bottom-nav button.button {
    background: #363c3f;
    color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    display: inline;
    float: left; }
    #bottom-nav button.button:hover {
      background: #3d4447; }
    #bottom-nav button.button a {
      width: 100%;
      display: block;
      padding: 20px 0;
      line-height: 100%;
      color: #ffffff;
      font-size: 0.9em; }
      #bottom-nav button.button a:hover {
        color: #ffffff; }
    #bottom-nav button.button i {
      margin-right: 10px; }
  #bottom-nav .inactive-btn {
    color: #2a2f31 !important; }

.sign-in-container, .sign-up-container {
  width: 70%;
  margin-left: 15%;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  color: #ffffff; }
  .sign-in-container a, .sign-up-container a {
    color: #363c3f;
    text-decoration: underline;
    display: block;
    width: 60%;
    clear: both;
    margin: 20px 0 20px 20%;
    font-size: 22;
    text-align: center;
    padding: 10px; }
  .sign-in-container .btn.small, .sign-up-container .btn.small {
    background: #f38c4b;
    float: left;
    color: #ffffff;
    text-align: left;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 10px 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 1.0625rem;
    padding-left: 1rem;
    font-size: 14;
    background-color: #ffa568;
    border-color: #007095;
    color: #fff;
    transition: background-color 300ms ease-out; }
  .sign-in-container input.upload-image, .sign-up-container input.upload-image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }
  .sign-in-container h1, .sign-up-container h1 {
    color: #ffffff;
    margin: 20px 0; }
  .sign-in-container form#sign-in-form, .sign-in-container form#sign-up-form, .sign-in-container form#create-account-form, .sign-up-container form#sign-in-form, .sign-up-container form#sign-up-form, .sign-up-container form#create-account-form {
    width: 60%;
    margin-left: 20%; }
    .sign-in-container form#sign-in-form p, .sign-in-container form#sign-up-form p, .sign-in-container form#create-account-form p, .sign-up-container form#sign-in-form p, .sign-up-container form#sign-up-form p, .sign-up-container form#create-account-form p {
      margin: 5px; }
      .sign-in-container form#sign-in-form p label, .sign-in-container form#sign-up-form p label, .sign-in-container form#create-account-form p label, .sign-up-container form#sign-in-form p label, .sign-up-container form#sign-up-form p label, .sign-up-container form#create-account-form p label {
        display: inline;
        color: #ffffff;
        float: left;
        width: 20%;
        cursor: arrow !important;
        margin-top: 25px;
        text-align: left;
        font-weight: bold; }
      .sign-in-container form#sign-in-form p input, .sign-in-container form#sign-up-form p input, .sign-in-container form#create-account-form p input, .sign-up-container form#sign-in-form p input, .sign-up-container form#sign-up-form p input, .sign-up-container form#create-account-form p input {
        display: inline;
        width: 80%;
        float: left;
        margin: 20px 0;
        font-size: 18;
        border: 2px solid #00b3b3; }
      .sign-in-container form#sign-in-form p textarea, .sign-in-container form#sign-in-form p select, .sign-in-container form#sign-up-form p textarea, .sign-in-container form#sign-up-form p select, .sign-in-container form#create-account-form p textarea, .sign-in-container form#create-account-form p select, .sign-up-container form#sign-in-form p textarea, .sign-up-container form#sign-in-form p select, .sign-up-container form#sign-up-form p textarea, .sign-up-container form#sign-up-form p select, .sign-up-container form#create-account-form p textarea, .sign-up-container form#create-account-form p select {
        border: 2px solid #00b3b3; }
      .sign-in-container form#sign-in-form p input[type="file"], .sign-in-container form#sign-up-form p input[type="file"], .sign-in-container form#create-account-form p input[type="file"], .sign-up-container form#sign-in-form p input[type="file"], .sign-up-container form#sign-up-form p input[type="file"], .sign-up-container form#create-account-form p input[type="file"] {
        border: none; }
    .sign-in-container form#sign-in-form p.submit, .sign-in-container form#sign-up-form p.submit, .sign-in-container form#create-account-form p.submit, .sign-up-container form#sign-in-form p.submit, .sign-up-container form#sign-up-form p.submit, .sign-up-container form#create-account-form p.submit {
      clear: both; }
      .sign-in-container form#sign-in-form p.submit input, .sign-in-container form#sign-up-form p.submit input, .sign-in-container form#create-account-form p.submit input, .sign-up-container form#sign-in-form p.submit input, .sign-up-container form#sign-up-form p.submit input, .sign-up-container form#create-account-form p.submit input {
        width: 100%; }
    .sign-in-container form#sign-in-form button.submit, .sign-in-container form#sign-up-form button.submit, .sign-in-container form#create-account-form button.submit, .sign-up-container form#sign-in-form button.submit, .sign-up-container form#sign-up-form button.submit, .sign-up-container form#create-account-form button.submit {
      display: block;
      width: 100%;
      font-size: 24;
      background: #ffa568; }
    .sign-in-container form#sign-in-form button.forgot-info, .sign-in-container form#sign-up-form button.forgot-info, .sign-in-container form#create-account-form button.forgot-info, .sign-up-container form#sign-in-form button.forgot-info, .sign-up-container form#sign-up-form button.forgot-info, .sign-up-container form#create-account-form button.forgot-info {
      display: block;
      width: 100%;
      font-size: 14;
      margin-top: 30px;
      color: #363c3f;
      background: #ffa568; }
    .sign-in-container form#sign-in-form .checkbox-wrapper, .sign-in-container form#sign-up-form .checkbox-wrapper, .sign-in-container form#create-account-form .checkbox-wrapper, .sign-up-container form#sign-in-form .checkbox-wrapper, .sign-up-container form#sign-up-form .checkbox-wrapper, .sign-up-container form#create-account-form .checkbox-wrapper {
      text-align: left;
      overflow: hidden;
      margin: 20px 0; }
      .sign-in-container form#sign-in-form .checkbox-wrapper .email-notifications, .sign-in-container form#sign-up-form .checkbox-wrapper .email-notifications, .sign-in-container form#create-account-form .checkbox-wrapper .email-notifications, .sign-up-container form#sign-in-form .checkbox-wrapper .email-notifications, .sign-up-container form#sign-up-form .checkbox-wrapper .email-notifications, .sign-up-container form#create-account-form .checkbox-wrapper .email-notifications {
        margin: 0;
        padding: 0;
        float: left; }
      .sign-in-container form#sign-in-form .checkbox-wrapper p, .sign-in-container form#sign-up-form .checkbox-wrapper p, .sign-in-container form#create-account-form .checkbox-wrapper p, .sign-up-container form#sign-in-form .checkbox-wrapper p, .sign-up-container form#sign-up-form .checkbox-wrapper p, .sign-up-container form#create-account-form .checkbox-wrapper p {
        margin: 0 10px 0;
        padding: 0 0 0 10px;
        line-height: 1rem; }
  .sign-in-container .profile-image-holder, .sign-up-container .profile-image-holder {
    position: relative;
    width: 150px;
    height: 170px;
    padding: 0;
    margin-top: 20px;
    background: white; }
    .sign-in-container .profile-image-holder i, .sign-up-container .profile-image-holder i {
      bottom: -60px;
      left: 14px;
      position: absolute;
      font-size: 190;
      margin: 0;
      padding: 0; }

.view_comments-container {
  width: 70%;
  margin-top: 100px;
  padding-bottom: 100px;
  margin-left: 15%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  color: #363c3f; }
  .view_comments-container .comments h1 {
    font-size: 1.5em;
    color: #ffffff; }
  .view_comments-container .comments h2 {
    font-size: 1.2em;
    color: #004d4d;
    text-transform: uppercase; }
  .view_comments-container .comments button {
    background: #004d4d; }
  .view_comments-container .comments button.btn {
    background: #004d4d;
    display: block;
    float: none;
    padding: 0;
    width: 100%; }
    .view_comments-container .comments button.btn a {
      color: #ffffff;
      padding: 10px 15px;
      text-align: left;
      width: 100%;
      display: block; }
    .view_comments-container .comments button.btn i {
      margin-right: 10px; }
  .view_comments-container .comments form#addCommentForm label {
    color: #004d4d;
    font-weight: bold;
    padding-bottom: 5px; }
  .view_comments-container .comments .comment {
    position: relative;
    background: #ffffff;
    padding: 20px 10px 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden; }
    .view_comments-container .comments .comment p span {
      font-weight: bold; }
    .view_comments-container .comments .comment i {
      margin-right: 10px;
      color: #99a3a8; }
    .view_comments-container .comments .comment p.recipe-comment {
      float: none;
      display: block;
      margin: 0 0 15px 0;
      padding: 0; }
    .view_comments-container .comments .comment p.recipe-author {
      float: left;
      display: block;
      margin: 0;
      padding: 0;
      font-style: italic;
      font-size: 0.7em;
      text-transform: capitalize; }
    .view_comments-container .comments .comment span.recipe-title {
      float: none;
      font-size: 0.7em;
      color: #99a3a8; }

.view_users-container {
  width: 70%;
  margin-top: 100px;
  margin-left: 15%;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #363c3f; }
  .view_users-container ul li {
    text-align: left; }
  .view_users-container button.btn {
    background: #004d4d;
    display: block;
    cursor: default;
    float: none;
    width: 100%; }
    .view_users-container button.btn a {
      color: #ffffff;
      text-align: left; }
    .view_users-container button.btn i {
      margin-right: 10px; }

.members-container {
  width: 70%;
  margin-left: 15%;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  color: #363c3f; }
  .members-container button.btn {
    background: #004d4d;
    display: block;
    float: none;
    padding: 0;
    width: 100%; }
    .members-container button.btn a {
      color: #ffffff;
      padding: 10px 15px;
      text-align: left;
      width: 100%;
      display: block; }
  .members-container i {
    margin-right: 10px; }

.welcome-container {
  width: 70%;
  margin-left: 15%;
  overflow: hidden;
  color: #363c3f; }
  .welcome-container h1 {
    color: #363c3f;
    margin: 20px 0; }
  .welcome-container button.btn {
    background: #f38c4b;
    display: block;
    float: none;
    width: 100%;
    color: #ffffff;
    text-align: left; }

.form-error-container {
  margin: 100px 10% 0 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  width: 80%;
  background: #004d4d;
  color: #ffffff; }
  .form-error-container h1 {
    font-size: 1.5em;
    color: #ffffff; }
  .form-error-container h2 {
    font-size: 1.2em;
    color: #00b3b3; }
  .form-error-container p {
    font-size: 0.9em;
    margin: 0;
    padding: 5px 10px;
    color: #ffffff; }
  .form-error-container button.button.btn {
    margin-top: 20px;
    background: #00b3b3; }

.add-recipe-container #add-recipe-form, .add-recipe-container #upload-image-form, .upload-image-container #add-recipe-form, .upload-image-container #upload-image-form {
  margin: 50px 0;
  padding: 50px 0; }
  .add-recipe-container #add-recipe-form h1, .add-recipe-container #upload-image-form h1, .upload-image-container #add-recipe-form h1, .upload-image-container #upload-image-form h1 {
    color: #ffffff; }
  .add-recipe-container #add-recipe-form p.error, .add-recipe-container #upload-image-form p.error, .upload-image-container #add-recipe-form p.error, .upload-image-container #upload-image-form p.error {
    font-size: 0.8em;
    color: red;
    margin: 0;
    padding: 0; }
  .add-recipe-container #add-recipe-form input, .add-recipe-container #add-recipe-form textarea, .add-recipe-container #add-recipe-form select, .add-recipe-container #upload-image-form input, .add-recipe-container #upload-image-form textarea, .add-recipe-container #upload-image-form select, .upload-image-container #add-recipe-form input, .upload-image-container #add-recipe-form textarea, .upload-image-container #add-recipe-form select, .upload-image-container #upload-image-form input, .upload-image-container #upload-image-form textarea, .upload-image-container #upload-image-form select {
    border: 2px solid #00b3b3; }
  .add-recipe-container #add-recipe-form input[type="file"], .add-recipe-container #upload-image-form input[type="file"], .upload-image-container #add-recipe-form input[type="file"], .upload-image-container #upload-image-form input[type="file"] {
    border: none; }
  .add-recipe-container #add-recipe-form label, .add-recipe-container #upload-image-form label, .upload-image-container #add-recipe-form label, .upload-image-container #upload-image-form label {
    color: #004d4d;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-bottom: 5px; }
.add-recipe-container form fieldset, .upload-image-container form fieldset {
  margin: 0 0 5px 0;
  padding: 5px 0 0 0;
  clear: both;
  border: none; }
.add-recipe-container form label, .upload-image-container form label {
  color: black; }
.add-recipe-container form legend, .upload-image-container form legend {
  color: black;
  background: none;
  margin: 0;
  padding: 0; }
.add-recipe-container form input, .upload-image-container form input {
  font-size: 14; }
.add-recipe-container form textarea, .upload-image-container form textarea {
  min-height: 100px; }

.recipes-container, .update-recipes-container {
  background: #00b3b3;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px; }
  .recipes-container .recipes, .update-recipes-container .recipes {
    margin: 20px 0 100px 0; }
  .recipes-container form#update-recipe-form, .update-recipes-container form#update-recipe-form {
    overflow: hidden;
    margin-bottom: 100px; }
  .recipes-container .form, .update-recipes-container .form {
    margin-bottom: 100px; }
  .recipes-container .filter p, .update-recipes-container .filter p {
    font-weight: bold;
    color: #004d4d; }
    .recipes-container .filter p span, .update-recipes-container .filter p span {
      background: #ffa568;
      padding: 5px 10px;
      cursor: pointer;
      color: #004d4d; }
  .recipes-container .back-btn, .update-recipes-container .back-btn {
    background: #004d4d;
    width: 96%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 1em;
    text-align: left;
    padding: 10px;
    margin-left: 10px; }
    .recipes-container .back-btn:hover, .update-recipes-container .back-btn:hover {
      background: #005757; }
    .recipes-container .back-btn a, .update-recipes-container .back-btn a {
      color: #ffffff;
      display: inline-block;
      width: 100%;
      padding: 10px;
      line-height: 100%; }
      .recipes-container .back-btn a i, .update-recipes-container .back-btn a i {
        margin-top: 0;
        margin-right: 10px;
        font-size: 1em; }
  .recipes-container i, .update-recipes-container i {
    margin-right: 15px; }
  .recipes-container #search-form, .update-recipes-container #search-form {
    margin: 10px 0 0 0;
    overflow: hidden; }
    .recipes-container #search-form #search, .update-recipes-container #search-form #search {
      display: block;
      width: 100% !important;
      margin: 0 !important;
      border: none; }
    .recipes-container #search-form #btn-search, .update-recipes-container #search-form #btn-search {
      width: 100% !important;
      background: #363c3f;
      border: none;
      color: #ffffff;
      cursor: pointer;
      padding: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      margin-top: 0;
      font-size: 1em;
      margin-right: 5px; }
      .recipes-container #search-form #btn-search:hover, .recipes-container #search-form #btn-search:focus, .update-recipes-container #search-form #btn-search:hover, .update-recipes-container #search-form #btn-search:focus {
        background: #3b4144; }
    .recipes-container #search-form label, .update-recipes-container #search-form label {
      display: block;
      float: left;
      font-weight: bold;
      padding-top: 5px; }
    .recipes-container #search-form ::-webkit-input-placeholder, .update-recipes-container #search-form ::-webkit-input-placeholder {
      color: #ffffff; }
    .recipes-container #search-form :-moz-placeholder, .update-recipes-container #search-form :-moz-placeholder {
      /* Firefox 18- */
      color: #ffffff; }
    .recipes-container #search-form ::-moz-placeholder, .update-recipes-container #search-form ::-moz-placeholder {
      /* Firefox 19+ */
      color: #ffffff; }
    .recipes-container #search-form :-ms-input-placeholder, .update-recipes-container #search-form :-ms-input-placeholder {
      color: #ffffff; }
    .recipes-container #search-form p, .update-recipes-container #search-form p {
      float: left; }
    .recipes-container #search-form p.search, .update-recipes-container #search-form p.search {
      float: left; }
    .recipes-container #search-form input[name="search"], .update-recipes-container #search-form input[name="search"] {
      float: right;
      display: block;
      background: #ffffff;
      border: 1px solid #d1d1d1;
      font: bold 14 Arial, Helvetica, Sans-serif;
      color: #363c3f;
      padding: 6px 15px 6px 35px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
      -webkit-transition: all 0.7s ease 0s;
      -moz-transition: all 0.7s ease 0s;
      -o-transition: all 0.7s ease 0s;
      transition: all 0.7s ease 0s; }
    .recipes-container #search-form input[type="text"]:focus, .update-recipes-container #search-form input[type="text"]:focus {
      width: 200px; }
  .recipes-container h1, .update-recipes-container h1 {
    font-size: 0.8em;
    margin: 0;
    padding: 0; }
  .recipes-container .heading, .update-recipes-container .heading {
    margin-top: 0;
    padding: 0 10px; }
  .recipes-container .recipe:first-child, .update-recipes-container .recipe:first-child {
    margin-top: 0; }
  .recipes-container .recipe, .update-recipes-container .recipe {
    background: #004d4d;
    overflow: hidden;
    margin: 10px 0;
    width: 100%;
    padding: 10px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    .recipes-container .recipe h1, .update-recipes-container .recipe h1 {
      font-size: 0.8em;
      text-transform: uppercase;
      color: #ffffff; }
    .recipes-container .recipe a, .update-recipes-container .recipe a {
      color: #ffffff;
      float: right;
      padding-top: 5px;
      padding-right: 10px; }
      .recipes-container .recipe a:hover i, .recipes-container .recipe a:hover, .update-recipes-container .recipe a:hover i, .update-recipes-container .recipe a:hover {
        color: #ffa568; }
    .recipes-container .recipe i, .update-recipes-container .recipe i {
      color: #ffffff;
      margin: 0 1px;
      font-size: 0.8em; }
      .recipes-container .recipe i:hover, .update-recipes-container .recipe i:hover {
        color: #ffa568; }
    .recipes-container .recipe .top-heading, .update-recipes-container .recipe .top-heading {
      padding-bottom: 15px;
      cursor: pointer; }
    .recipes-container .recipe .bottom-info, .update-recipes-container .recipe .bottom-info {
      background: #ffffff;
      overflow: hidden;
      padding: 15px 10px 10px 10px;
      margin: 10px 0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px; }
      .recipes-container .recipe .bottom-info blockquote, .update-recipes-container .recipe .bottom-info blockquote {
        color: #363c3f; }
      .recipes-container .recipe .bottom-info .view-comments, .update-recipes-container .recipe .bottom-info .view-comments {
        font-size: 0.9em; }
      .recipes-container .recipe .bottom-info .edit-recipe, .update-recipes-container .recipe .bottom-info .edit-recipe {
        font-size: 0.9em; }
      .recipes-container .recipe .bottom-info .delete, .update-recipes-container .recipe .bottom-info .delete {
        width: 100%;
        margin: 10px 0;
        padding: 0.8rem 1.5rem 1rem 1.5rem; }
        .recipes-container .recipe .bottom-info .delete a, .update-recipes-container .recipe .bottom-info .delete a {
          color: #ffffff;
          margin: 0;
          padding: 0;
          float: left;
          font-size: 0.8em;
          width: 100%;
          display: block; }
          .recipes-container .recipe .bottom-info .delete a:hover, .update-recipes-container .recipe .bottom-info .delete a:hover {
            color: #ffffff; }
          .recipes-container .recipe .bottom-info .delete a i, .update-recipes-container .recipe .bottom-info .delete a i {
            color: #ffffff;
            font-size: 1em; }
            .recipes-container .recipe .bottom-info .delete a i:hover, .update-recipes-container .recipe .bottom-info .delete a i:hover {
              color: #ffffff; }
      .recipes-container .recipe .bottom-info a.inline, .update-recipes-container .recipe .bottom-info a.inline {
        background: #99a3a8;
        color: #ffffff;
        font-weight: normal;
        text-align: center;
        font-size: 0.8em;
        letter-spacing: 0.2em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        float: none;
        display: inline-block;
        padding: 5px 10px;
        margin: 0 0 0 10px; }
        .recipes-container .recipe .bottom-info a.inline:hover, .update-recipes-container .recipe .bottom-info a.inline:hover {
          color: #ffffff;
          background: #7e8a90; }
        .recipes-container .recipe .bottom-info a.inline:hover i, .update-recipes-container .recipe .bottom-info a.inline:hover i {
          color: #ffffff; }
        .recipes-container .recipe .bottom-info a.inline i, .update-recipes-container .recipe .bottom-info a.inline i {
          color: #ffffff; }
          .recipes-container .recipe .bottom-info a.inline i:hover, .update-recipes-container .recipe .bottom-info a.inline i:hover {
            color: #ffffff !important; }
      .recipes-container .recipe .bottom-info a, .update-recipes-container .recipe .bottom-info a {
        color: #363c3f;
        float: right;
        padding-top: 5px;
        padding-right: 0; }
      .recipes-container .recipe .bottom-info i, .update-recipes-container .recipe .bottom-info i {
        color: #363c3f; }
      .recipes-container .recipe .bottom-info p, .update-recipes-container .recipe .bottom-info p {
        font-size: 0.9em; }
        .recipes-container .recipe .bottom-info p span, .update-recipes-container .recipe .bottom-info p span {
          font-size: 0.9em;
          font-weight: bold;
          color: #004d4d; }
    .recipes-container .recipe .header-info, .update-recipes-container .recipe .header-info {
      float: right; }
      .recipes-container .recipe .header-info p.block, .update-recipes-container .recipe .header-info p.block {
        background: #ffa568;
        padding: 3px 10px;
        font-size: 0.7em;
        display: inline-block; }
        .recipes-container .recipe .header-info p.block i, .update-recipes-container .recipe .header-info p.block i {
          margin-right: 10px;
          font-weight: bold;
          color: #ffffff; }
    .recipes-container .recipe .recipe-thumb img, .update-recipes-container .recipe .recipe-thumb img {
      float: right; }

.update-recipes-container .recipes {
  margin: 20px 0; }
.update-recipes-container form#update-recipe-form legend, .update-recipes-container form#update-recipe-form label {
  margin: 0;
  padding: 0;
  background: none !important;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.1em; }
.update-recipes-container form#update-recipe-form input, .update-recipes-container form#update-recipe-form textarea, .update-recipes-container form#update-recipe-form select {
  padding: 5px 0 0 5px;
  border: 2px solid #00b3b3;
  margin: 10px 0 15px 0; }

.member-nav {
  margin: 40px 0; }

.stopwatch-container {
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
  padding: 100px 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  color: #363c3f;
  /*Styles for the controls*/
  /*Control code*/
  /*Now we need to sync the animation speed with time speed*/
  /*One second per digit. 10 digits. Hence 10s*/
  /*60 times .second*/
  /*1/10th of .second*/
  /*60 times .second*/
  /*60 times .minute*/
  /*60 times .minute*/
  /*10 times .hour*/
  /*The stopwatch looks good now. Lets add some styles*/
  /*Lets animate the digit now - the main part of this tutorial*/
  /*We are using prefixfree, so no need of vendor prefixes*/
  /*The logic of the animation is to alter the 'top' value of the absolutely
  positioned .numbers*/
  /*Minutes and Seconds should be limited to only '60' and not '100'
  Hence we need to create 2 animations. One with 10 steps and 10 digits and
  the other one with 6 steps and 6 digits*/
  /*Lets use a better font for the numbers*/ }
  .stopwatch-container .timer {
    overflow: hidden;
    display: inline-block;
    position: relative; }
  .stopwatch-container .cell {
    /*Should only display 1 digit. Hence height = line height of .numbers
    and width = width of .numbers*/
    width: 2em;
    height: 40px;
    font-size: 0.8em;
    overflow: hidden;
    position: relative;
    float: left; }
  .stopwatch-container .numbers {
    width: 0.6em;
    line-height: 40px;
    font-family: digital, arial, verdana;
    text-align: center;
    color: #363c3f;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    /*Glow to the text*/ }
  .stopwatch-container #timer_controls {
    color: #ffffff; }
  .stopwatch-container #timer_controls label {
    cursor: pointer;
    float: left;
    margin: 10px;
    padding: 5px 10px;
    background: #00b3b3;
    color: #ffffff;
    font-family: arial, verdana, tahoma;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 0 0 3px 3px; }
  .stopwatch-container input[name="controls"] {
    display: none; }
  .stopwatch-container #stop:checked ~ .timer .numbers {
    animation-play-state: paused; }
  .stopwatch-container #start:checked ~ .timer .numbers {
    animation-play-state: running; }
  .stopwatch-container #reset:checked ~ .timer .numbers {
    animation: none; }
  .stopwatch-container .moveten {
    /*The digits move but dont look good. We will use steps now
    10 digits = 10 steps. You can now see the digits swapping instead of 
    moving pixel-by-pixel*/
    animation: moveten 1s steps(10, end) infinite;
    /*By default animation should be paused*/
    animation-play-state: paused; }
  .stopwatch-container .movesix {
    animation: movesix 1s steps(6, end) infinite;
    animation-play-state: paused; }
  .stopwatch-container .second {
    animation-duration: 10s; }
  .stopwatch-container .tensecond {
    animation-duration: 60s; }
  .stopwatch-container .milisecond {
    animation-duration: 1s; }
  .stopwatch-container .tenmilisecond {
    animation-duration: 0.1s; }
  .stopwatch-container .hundredmilisecond {
    animation-duration: 0.01s; }
  .stopwatch-container .minute {
    animation-duration: 600s; }
  .stopwatch-container .tenminute {
    animation-duration: 3600s; }
  .stopwatch-container .hour {
    animation-duration: 36000s; }
  .stopwatch-container .tenhour {
    animation-duration: 360000s; }
@keyframes moveten {
  0% {
    top: 0; }
  100% {
    top: -400px; }
  /*height = 40. digits = 10. hence -400 to move it completely to the top*/ }
@keyframes movesix {
  0% {
    top: 0; }
  100% {
    top: -240px; }
  /*height = 40. digits = 6. hence -240 to move it completely to the top*/ }
@font-face {
  .stopwatch-container {
    font-family: 'digital';
    src: url("http://thecodeplayer.com/uploads/fonts/DS-DIGI.TTF"); } }
@media only screen {
  body #bottom-nav button.button a, html #bottom-nav button.button a {
    font-size: 0.6em !important; }
  body #navigation-header .logo a h1, html #navigation-header .logo a h1 {
    font-size: 1.5em;
    color: #ffffff; }
  body #navigation-header .logo p, html #navigation-header .logo p {
    margin-top: 10px !important;
    padding-top: 0 !important; }
  body .recipes-container #search-form #btn-search, html .recipes-container #search-form #btn-search {
    font-size: 0.8em; }
  body .menu-toggle, html .menu-toggle {
    margin: 5px;
    float: left !important; }
    body .menu-toggle span, html .menu-toggle span {
      float: none; }
  body .sign-in-container, html .sign-in-container {
    width: 90%;
    margin-left: 5%; }
    body .sign-in-container form#sign-in-form, html .sign-in-container form#sign-in-form {
      width: 98% !important;
      margin: 0 1% !important; }
      body .sign-in-container form#sign-in-form p label, body .sign-in-container form#sign-in-form p input, html .sign-in-container form#sign-in-form p label, html .sign-in-container form#sign-in-form p input {
        font-size: 1.3em !important;
        float: none !important;
        display: block !important; }
      body .sign-in-container form#sign-in-form p label, html .sign-in-container form#sign-in-form p label {
        color: #004d4d; }
      body .sign-in-container form#sign-in-form p input, html .sign-in-container form#sign-in-form p input {
        height: 2rem;
        width: 100% !important; }
      body .sign-in-container form#sign-in-form p input[type='submit'], html .sign-in-container form#sign-in-form p input[type='submit'] {
        height: auto;
        margin-top: 60px; }
  body .sign-up-container, html .sign-up-container {
    width: 90%;
    margin-left: 5%; }
    body .sign-up-container form#sign-up-form, html .sign-up-container form#sign-up-form {
      width: 98% !important;
      margin: 0 1% !important; }
      body .sign-up-container form#sign-up-form p label, body .sign-up-container form#sign-up-form p input, html .sign-up-container form#sign-up-form p label, html .sign-up-container form#sign-up-form p input {
        width: 100%;
        font-size: 1.3em !important;
        float: none !important;
        display: block !important; }
      body .sign-up-container form#sign-up-form p label, html .sign-up-container form#sign-up-form p label {
        color: #004d4d; }
      body .sign-up-container form#sign-up-form p input, html .sign-up-container form#sign-up-form p input {
        height: 2rem;
        margin: 5px 0 10px 0;
        width: 100% !important; }
      body .sign-up-container form#sign-up-form p input[type='submit'], html .sign-up-container form#sign-up-form p input[type='submit'] {
        height: auto;
        margin-top: 60px; }
  body .view_comments-container, html .view_comments-container {
    width: 90%;
    margin-top: 100px;
    padding-bottom: 100px;
    margin-left: 5%;
    overflow: hidden; } }
/* Define mobile styles */
@media only screen and (max-width: 40em) {
  /* Portrait */
  #navigation-header .logo a h1 {
    font-size: 1.5em;
    color: #ffffff; }
  #navigation-header .logo p {
    margin-top: 0 !important;
    padding-top: 0 !important; } }
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) {
  body, html {
    background: #00b3b3 !important; }
    body #navigation-header .logo a h1, html #navigation-header .logo a h1 {
      font-size: 2.5em;
      color: #ffffff; }
    body #navigation-header .logo p, html #navigation-header .logo p {
      margin-top: 20px !important;
      padding-top: 0 !important; }
    body #navigation-header .menu-toggle, html #navigation-header .menu-toggle {
      margin-top: 20px; }
      body #navigation-header .menu-toggle a, html #navigation-header .menu-toggle a {
        font-size: 1em; }
      body #navigation-header .menu-toggle span.username, html #navigation-header .menu-toggle span.username {
        font-size: 1em; }
    body .menu-toggle, html .menu-toggle {
      margin: 5px;
      float: right !important; }
      body .menu-toggle span, html .menu-toggle span {
        float: none; }
    body #bottom-nav button.button a, html #bottom-nav button.button a {
      font-size: 1em !important; } }
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  body, html {
    background: #00b3b3 !important;
    height: 100%; } }
/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xxlarge screens */
