 // Small screens
@media only screen {
    body, html {
        #bottom-nav {
            button.button {
                a {
                    font-size: 0.6em !important;
                }
            }    
        }
        .logo {
            float: left;
            padding-right: 10px;
            a {
                h1 {
                    font-size: 1.5em;
                    color: $white;
                }
            }
        }
        .menu-toggle {
            margin: 5px;
            float: left !important;
            span {
                float: none;
            }
        }
        .sign-in-container{
            width: 90%;
            margin-left: 5%;
            form#sign-in-form {
                width: 98% !important;
                margin: 0 1% !important;
                p {
                    label, input {
                        font-size: 1.3em !important;
                        float: none !important;
                        display: block !important;
                    }
                    label {
                        color: $teal;
                    }
                    input {
                        height: 2rem;
                        width: 100% !important;
                    }
                    input[type = 'submit'] {
                        height: auto;
                        margin-top: 60px;
                    }
                }
            }
        }
        .sign-up-container {
            width: 90%;
            margin-left: 5%;
            form#sign-up-form {
                width: 98% !important;
                margin: 0 1% !important;
                p {
                    label, input {
                        width: 100%;
                        font-size: 1.3em !important;
                        float: none !important;
                        display: block !important;
                    }
                    label {
                        color: $teal;
                    }
                    input {
                        height: 2rem;
                        margin: 5px 0 10px 0;
                        width: 100% !important;
                    }
                    input[type = 'submit'] {
                        height: auto;
                        margin-top: 60px;
                    }
                }
            }
        }
     }
 } /* Define mobile styles */

@media only screen and(max-width: 40em) {
    /* Portrait */
    @media screen and(orientation: portrait) {
        
    }

    @media screen and(orientation: landscape) {
        
    }

 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */


// Medium screens
@media only screen and(min-width: 40.063em) {
    body, html {
        background: $lightTeal !important;
        .logo {
            float: left;
            padding-right: 10px;
            a {
                h1 {
                    font-size: 2.5em !important;
                    color: $white;
                }
            }
        }
        .menu-toggle {
            margin: 5px;
            float: right !important;
            span {
                float: none;
            }
        }
        #bottom-nav {
            button.button {
                a {
                    font-size: 1em !important;
                }
            }
        }
        #navigation-header {
            .menu-toggle {
                span {
                    font-size: 0.5em;
                }
                span.username {
                    font-size: 0.5em;
                }
            }
        }
    }
    
} /* min-width 641px, medium screens */


@media only screen and(min-width: 40.063em) and(max-width: 64em) {
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


// Large screens
@media only screen and(min-width: 64.063em) {
    body, html {
        background: $lightTeal !important;
    }
} /* min-width 1025px, large screens */

@media only screen and(min-width: 64.063em) and(max-width: 90em) {} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and(min-width: 90.063em) {} /* min-width 1441px, xlarge screens */

@media only screen and(min-width: 90.063em) and(max-width: 120em) {} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and(min-width: 120.063em) {} /* min-width 1921px, xxlarge screens */

